<html>
    <head>
        <title>Realty Catalog</title>
    </head>
    <body>
        {% from "_formhelpers.html" import render_field %}
        <form method=get>
          {{ render_field(form.area) }} {{ render_field(form.floor) }} {{ render_field(form.metro) }}
          <input type=submit value="Найти">
        </form>
        {% if realties %}
            {% for realty in realties -%}
            <div><b><a href="/item/{{realty.id}}">{{ realty.rooms }}-комн. {{ realty.type }}, {{ realty.area }}м²</a></b><br>{{ realty.address }}<br><br></div>
            {%- endfor %}
        {% endif %}
    </body>
</html>